In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
bank_df = pd.read_csv("C:\\Users\\RAM BABU\\Downloads\\Churn_Modelling (1).csv")

In [3]:
bank_df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
bank_df.shape

(10000, 14)

In [5]:
bank_df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [6]:
bank_df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [7]:
bank_df.isnull().values.any()

False

In [8]:
bank_df.drop(columns = ["RowNumber", "CustomerId", "Surname"], inplace = True)

In [9]:
bank_df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [10]:
bank_df.Gender.unique()

array(['Female', 'Male'], dtype=object)

In [11]:
bank_df.replace({"Male" : 0, "Female":1}, inplace = True)

In [12]:
bank_df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,1,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,1,41,1,83807.86,1,0,1,112542.58,0
2,502,France,1,42,8,159660.80,3,1,0,113931.57,1
3,699,France,1,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,1,43,2,125510.82,1,1,1,79084.10,0

In [13]:
bank_df.Geography.unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [14]:
bank_df = pd.get_dummies(data= bank_df, columns = ["Geography"])

In [15]:
bank_df= bank_df.astype(int)

In [16]:
bank_df.dtypes

CreditScore          int32
Gender               int32
Age                  int32
Tenure               int32
Balance              int32
NumOfProducts        int32
HasCrCard            int32
IsActiveMember       int32
EstimatedSalary      int32
Exited               int32
Geography_France     int32
Geography_Germany    int32
Geography_Spain      int32
dtype: object

In [17]:
print(bank_df.columns)

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited',
       'Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype='object')

# train and test split

In [18]:
X = bank_df.drop("Exited", axis = "columns")
y = bank_df["Exited"]

In [19]:
X.shape

(10000, 12)

In [20]:
X.columns

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Geography_France',
       'Geography_Germany', 'Geography_Spain'],
      dtype='object')

In [21]:
!pip install imbalanced-learn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: imbalanced-learn in c:\users\ram babu\appdata\roaming\python\python39\site-packages (0.12.3)
Requirement already satisfied: scipy>=1.5.0 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn) (1.9.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\ram babu\appdata\roaming\python\python39\site-packages (from imbalanced-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ram babu\appdata\roaming\python\python39\site-packages (from imbalanced-learn) (3.2.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn) (1.0.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\ram babu\appdata\roaming\python\python39\site-packages (from imbalanced-learn) (1.24.4)

### SMOTE

In [22]:
#from imblearn.over_sampling import SMOTE
#smote = SMOTE(sampling_strategy = "minority")
#X,y = smote.fit_resample(X,y)

In [23]:
#X.shape

In [24]:
#y.value_counts()

# Data Normalization

In [25]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
X[:] = scaler.fit_transform(X)

In [26]:
X.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,0.538,1.0,0.324324,0.2,0.000000,0.000000,1.0,1.0,0.506733,1.0,0.0,0.0
1,0.516,1.0,0.310811,0.1,0.334028,0.000000,0.0,1.0,0.562708,0.0,0.0,1.0
2,0.304,1.0,0.324324,0.8,0.636354,0.666667,1.0,0.0,0.569654,1.0,0.0,0.0
3,0.698,1.0,0.283784,0.1,0.000000,0.333333,0.0,0.0,0.469120,1.0,0.0,0.0
4,1.000,1.0,0.337838,0.2,0.500243,0.000000,1.0,1.0,0.395403,0.0,0.0,1.0

In [27]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state= 42)

In [28]:
X_train.shape

(8000, 12)

In [29]:
X_test.shape

(2000, 12)

# Building the model

In [30]:
import tensorflow as tf
from tensorflow import keras

model = keras.Sequential([
    keras.layers.Dense(64, input_shape = (12,), activation = "relu"), # hidden layer 1
    keras.layers.BatchNormalization(),
    keras.layers.Dropout(0.5),
    keras.layers.Dense(32,activation = "relu"), # hidden layer 2
    keras.layers.BatchNormalization(),
    keras.layers.Dropout(0.5),
    keras.layers.Dense(16,activation = "relu"), # hidden layer 3
    keras.layers.BatchNormalization(),
    keras.layers.Dropout(0.5),
    keras.layers.Dense(1, activation = "sigmoid")
    

])

lr_schedule = keras.optimizers.schedules.ExponentialDecay(
    initial_learning_rate=1e-2,
    decay_steps=10000,
    decay_rate=0.9)

model.compile(optimizer = "adam", 
             loss = "binary_crossentropy",
             metrics = ["accuracy"])

early_stopping = keras.callbacks.EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

model.fit(X_train,y_train,epochs = 100, batch_size = 50,validation_split=0.2, callbacks=[early_stopping])

Epoch 1/100
128/128 [==============================] - 5s 11ms/step - loss: 0.8126 - accuracy: 0.5813 - val_loss: 0.4971 - val_accuracy: 0.7987
Epoch 2/100
128/128 [==============================] - 1s 7ms/step - loss: 0.6519 - accuracy: 0.6781 - val_loss: 0.4850 - val_accuracy: 0.7987
Epoch 3/100
128/128 [==============================] - 1s 7ms/step - loss: 0.5759 - accuracy: 0.7289 - val_loss: 0.4763 - val_accuracy: 0.7987
Epoch 4/100
128/128 [==============================] - 1s 6ms/step - loss: 0.5376 - accuracy: 0.7631 - val_loss: 0.4646 - val_accuracy: 0.7987
Epoch 5/100
128/128 [==============================] - 1s 6ms/step - loss: 0.5182 - accuracy: 0.7703 - val_loss: 0.4576 - val_accuracy: 0.7994
Epoch 6/100
128/128 [==============================] - 1s 7ms/step - loss: 0.5021 - accuracy: 0.7833 - val_loss: 0.4479 - val_accuracy: 0.8019
Epoch 7/100
128/128 [==============================] - 1s 6ms/step - loss: 0.5029 - accuracy: 0.7873 - val_loss: 0.4447 - val_accuracy: 0.8019
Epoch 8/100
128/128 [==============================] - 1s 6ms/step - loss: 0.4857 - accuracy: 0.7923 - val_loss: 0.4393 - val_accuracy: 0.8037
Epoch 9/100
128/128 [==============================] - 1s 7ms/step - loss: 0.4839 - accuracy: 0.7911 - val_loss: 0.4344 - val_accuracy: 0.8062
Epoch 10/100
128/128 [==============================] - 1s 6ms/step - loss: 0.4793 - accuracy: 0.7912 - val_loss: 0.4295 - val_accuracy: 0.8087
Epoch 11/100
128/128 [==============================] - 1s 7ms/step - loss: 0.4673 - accuracy: 0.7952 - val_loss: 0.4266 - val_accuracy: 0.8087
Epoch 12/100
128/128 [==============================] - 1s 6ms/step - loss: 0.4671 - accuracy: 0.7928 - val_loss: 0.4218 - val_accuracy: 0.8131
Epoch 13/100
128/128 [==============================] - 1s 6ms/step - loss: 0.4610 - accuracy: 0.8009 - val_loss: 0.4181 - val_accuracy: 0.8169
Epoch 14/100
128/128 [==============================] - 1s 7ms/step - loss: 0.4573 - accuracy: 0.7964 - val_loss: 0.4155 - val_accuracy: 0.8181
Epoch 15/100
128/128 [==============================] - 1s 6ms/step - loss: 0.4482 - accuracy: 0.8012 - val_loss: 0.4078 - val_accuracy: 0.8250
Epoch 16/100
128/128 [==============================] - 1s 7ms/step - loss: 0.4500 - accuracy: 0.8042 - val_loss: 0.4065 - val_accuracy: 0.8200
Epoch 17/100
128/128 [==============================] - 1s 6ms/step - loss: 0.4451 - accuracy: 0.8056 - val_loss: 0.4036 - val_accuracy: 0.8206
Epoch 18/100
128/128 [==============================] - 1s 7ms/step - loss: 0.4347 - accuracy: 0.8106 - val_loss: 0.3921 - val_accuracy: 0.8344
Epoch 19/100
128/128 [==============================] - 1s 7ms/step - loss: 0.4337 - accuracy: 0.8106 - val_loss: 0.3850 - val_accuracy: 0.8338
Epoch 20/100
128/128 [==============================] - 1s 7ms/step - loss: 0.4258 - accuracy: 0.8138 - val_loss: 0.3836 - val_accuracy: 0.8363
Epoch 21/100
128/128 [==============================] - 1s 7ms/step - loss: 0.4238 - accuracy: 0.8156 - val_loss: 0.3823 - val_accuracy: 0.8363
Epoch 22/100
128/128 [==============================] - 1s 6ms/step - loss: 0.4200 - accuracy: 0.8186 - val_loss: 0.3717 - val_accuracy: 0.8506
Epoch 23/100
128/128 [==============================] - 1s 6ms/step - loss: 0.4166 - accuracy: 0.8209 - val_loss: 0.3766 - val_accuracy: 0.8444
Epoch 24/100
128/128 [==============================] - 1s 7ms/step - loss: 0.4209 - accuracy: 0.8195 - val_loss: 0.3680 - val_accuracy: 0.8475
Epoch 25/100
128/128 [==============================] - 1s 7ms/step - loss: 0.4142 - accuracy: 0.8205 - val_loss: 0.3694 - val_accuracy: 0.8494
Epoch 26/100
128/128 [==============================] - 1s 7ms/step - loss: 0.4132 - accuracy: 0.8234 - val_loss: 0.3669 - val_accuracy: 0.8500
Epoch 27/100
128/128 [==============================] - 1s 7ms/step - loss: 0.4068 - accuracy: 0.8219 - val_loss: 0.3626 - val_accuracy: 0.8544
Epoch 28/100
128/128 [==============================] - 1s 7ms/step - loss: 0.4127 - accuracy: 0.8233 - val_loss: 0.3640 - val_accuracy: 0.8531
Epoch 29/100
128/128 [==============================] - 1s 7ms/step - loss: 0.4049 - accuracy: 0.8211 - val_loss: 0.3634 - val_accuracy: 0.8575
Epoch 30/100
128/128 [==============================] - 1s 7ms/step - loss: 0.4094 - accuracy: 0.8216 - val_loss: 0.3645 - val_accuracy: 0.8550
Epoch 31/100
128/128 [==============================] - 1s 7ms/step - loss: 0.4062 - accuracy: 0.8248 - val_loss: 0.3644 - val_accuracy: 0.8544
Epoch 32/100
128/128 [==============================] - 1s 7ms/step - loss: 0.4011 - accuracy: 0.8284 - val_loss: 0.3629 - val_accuracy: 0.8556
Epoch 33/100
128/128 [==============================] - 1s 7ms/step - loss: 0.4031 - accuracy: 0.8297 - val_loss: 0.3606 - val_accuracy: 0.8525
Epoch 34/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3976 - accuracy: 0.8291 - val_loss: 0.3634 - val_accuracy: 0.8537
Epoch 35/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3923 - accuracy: 0.8320 - val_loss: 0.3612 - val_accuracy: 0.8531
Epoch 36/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3986 - accuracy: 0.8305 - val_loss: 0.3649 - val_accuracy: 0.8544
Epoch 37/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3923 - accuracy: 0.8305 - val_loss: 0.3593 - val_accuracy: 0.8500
Epoch 38/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3967 - accuracy: 0.8320 - val_loss: 0.3636 - val_accuracy: 0.8512
Epoch 39/100
128/128 [==============================] - 1s 6ms/step - loss: 0.3964 - accuracy: 0.8303 - val_loss: 0.3593 - val_accuracy: 0.8531
Epoch 40/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3940 - accuracy: 0.8302 - val_loss: 0.3605 - val_accuracy: 0.8544
Epoch 41/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3974 - accuracy: 0.8277 - val_loss: 0.3612 - val_accuracy: 0.8512
Epoch 42/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3885 - accuracy: 0.8364 - val_loss: 0.3596 - val_accuracy: 0.8544
Epoch 43/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3898 - accuracy: 0.8345 - val_loss: 0.3585 - val_accuracy: 0.8537
Epoch 44/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3894 - accuracy: 0.8378 - val_loss: 0.3588 - val_accuracy: 0.8506
Epoch 45/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3984 - accuracy: 0.8291 - val_loss: 0.3613 - val_accuracy: 0.8512
Epoch 46/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3906 - accuracy: 0.8306 - val_loss: 0.3607 - val_accuracy: 0.8537
Epoch 47/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3845 - accuracy: 0.8359 - val_loss: 0.3563 - val_accuracy: 0.8487
Epoch 48/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3868 - accuracy: 0.8380 - val_loss: 0.3538 - val_accuracy: 0.8537
Epoch 49/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3860 - accuracy: 0.8377 - val_loss: 0.3552 - val_accuracy: 0.8575
Epoch 50/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3868 - accuracy: 0.8366 - val_loss: 0.3565 - val_accuracy: 0.8537
Epoch 51/100
128/128 [==============================] - 1s 6ms/step - loss: 0.3868 - accuracy: 0.8367 - val_loss: 0.3573 - val_accuracy: 0.8550
Epoch 52/100
128/128 [==============================] - 1s 6ms/step - loss: 0.3837 - accuracy: 0.8384 - val_loss: 0.3565 - val_accuracy: 0.8537
Epoch 53/100
128/128 [==============================] - 1s 6ms/step - loss: 0.3829 - accuracy: 0.8381 - val_loss: 0.3555 - val_accuracy: 0.8550
Epoch 54/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3885 - accuracy: 0.8370 - val_loss: 0.3571 - val_accuracy: 0.8494
Epoch 55/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3839 - accuracy: 0.8370 - val_loss: 0.3579 - val_accuracy: 0.8494
Epoch 56/100
128/128 [==============================] - 1s 6ms/step - loss: 0.3829 - accuracy: 0.8377 - val_loss: 0.3523 - val_accuracy: 0.8512
Epoch 57/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3890 - accuracy: 0.8350 - val_loss: 0.3555 - val_accuracy: 0.8525

Epoch 58/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3861 - accuracy: 0.8348 - val_loss: 0.3544 - val_accuracy: 0.8525
Epoch 59/100
128/128 [==============================] - 1s 6ms/step - loss: 0.3845 - accuracy: 0.8386 - val_loss: 0.3556 - val_accuracy: 0.8519
Epoch 60/100
128/128 [==============================] - 1s 6ms/step - loss: 0.3799 - accuracy: 0.8408 - val_loss: 0.3507 - val_accuracy: 0.8562
Epoch 61/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3795 - accuracy: 0.8402 - val_loss: 0.3516 - val_accuracy: 0.8556
Epoch 62/100
128/128 [==============================] - 1s 6ms/step - loss: 0.3774 - accuracy: 0.8420 - val_loss: 0.3553 - val_accuracy: 0.8519
Epoch 63/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3836 - accuracy: 0.8358 - val_loss: 0.3510 - val_accuracy: 0.8519
Epoch 64/100
128/128 [==============================] - 1s 6ms/step - loss: 0.3801 - accuracy: 0.8345 - val_loss: 0.3494 - val_accuracy: 0.8562
Epoch 65/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3803 - accuracy: 0.8388 - val_loss: 0.3499 - val_accuracy: 0.8550
Epoch 66/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3756 - accuracy: 0.8389 - val_loss: 0.3538 - val_accuracy: 0.8569
Epoch 67/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3765 - accuracy: 0.8420 - val_loss: 0.3500 - val_accuracy: 0.8562
Epoch 68/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3795 - accuracy: 0.8419 - val_loss: 0.3514 - val_accuracy: 0.8556
Epoch 69/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3823 - accuracy: 0.8381 - val_loss: 0.3511 - val_accuracy: 0.8575
Epoch 70/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3759 - accuracy: 0.8420 - val_loss: 0.3479 - val_accuracy: 0.8581
Epoch 71/100
128/128 [==============================] - 1s 6ms/step - loss: 0.3761 - accuracy: 0.8459 - val_loss: 0.3483 - val_accuracy: 0.8569
Epoch 72/100
128/128 [==============================] - 1s 6ms/step - loss: 0.3821 - accuracy: 0.8364 - val_loss: 0.3505 - val_accuracy: 0.8556
Epoch 73/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3728 - accuracy: 0.8487 - val_loss: 0.3496 - val_accuracy: 0.8569
Epoch 74/100
128/128 [==============================] - 1s 6ms/step - loss: 0.3728 - accuracy: 0.8486 - val_loss: 0.3484 - val_accuracy: 0.8562
Epoch 75/100
128/128 [==============================] - 1s 6ms/step - loss: 0.3699 - accuracy: 0.8455 - val_loss: 0.3525 - val_accuracy: 0.8525
Epoch 76/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3754 - accuracy: 0.8455 - val_loss: 0.3511 - val_accuracy: 0.8562
Epoch 77/100
128/128 [==============================] - 1s 6ms/step - loss: 0.3707 - accuracy: 0.8455 - val_loss: 0.3478 - val_accuracy: 0.8569
Epoch 78/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3743 - accuracy: 0.8425 - val_loss: 0.3468 - val_accuracy: 0.8562
Epoch 79/100
128/128 [==============================] - 1s 6ms/step - loss: 0.3723 - accuracy: 0.8467 - val_loss: 0.3454 - val_accuracy: 0.8587
Epoch 80/100
128/128 [==============================] - 1s 6ms/step - loss: 0.3710 - accuracy: 0.8420 - val_loss: 0.3453 - val_accuracy: 0.8587
Epoch 81/100
128/128 [==============================] - 1s 6ms/step - loss: 0.3735 - accuracy: 0.8481 - val_loss: 0.3459 - val_accuracy: 0.8594
Epoch 82/100
128/128 [==============================] - 1s 6ms/step - loss: 0.3708 - accuracy: 0.8420 - val_loss: 0.3514 - val_accuracy: 0.8562
Epoch 83/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3739 - accuracy: 0.8502 - val_loss: 0.3478 - val_accuracy: 0.8569
Epoch 84/100
128/128 [==============================] - 1s 8ms/step - loss: 0.3725 - accuracy: 0.8450 - val_loss: 0.3458 - val_accuracy: 0.8587
Epoch 85/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3688 - accuracy: 0.8480 - val_loss: 0.3470 - val_accuracy: 0.8562
Epoch 86/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3754 - accuracy: 0.8487 - val_loss: 0.3482 - val_accuracy: 0.8544
Epoch 87/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3734 - accuracy: 0.8470 - val_loss: 0.3481 - val_accuracy: 0.8575
Epoch 88/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3732 - accuracy: 0.8422 - val_loss: 0.3501 - val_accuracy: 0.8537
Epoch 89/100
128/128 [==============================] - 1s 8ms/step - loss: 0.3779 - accuracy: 0.8402 - val_loss: 0.3485 - val_accuracy: 0.8556
Epoch 90/100
128/128 [==============================] - 1s 7ms/step - loss: 0.3652 - accuracy: 0.8472 - val_loss: 0.3471 - val_accuracy: 0.8594

In [31]:
loss, accuracy = model.evaluate(X_test,y_test)
accuracy * 100

63/63 [==============================] - 1s 4ms/step - loss: 0.3397 - accuracy: 0.8615

86.15000247955322

In [32]:
y_test[10:15]

2750    1
7487    1
5272    1
5653    0
3999    0
Name: Exited, dtype: int32

In [33]:
pred = model.predict(X_test)
binary_pred = (pred > 0.5).astype(int)
binary_pred[10:15]

63/63 [==============================] - 1s 4ms/step

array([[1],
       [1],
       [1],
       [0],
       [0]])

In [34]:
from sklearn.metrics import classification_report
print(classification_report(y_test,binary_pred))

              precision    recall  f1-score   support

           0       0.87      0.98      0.92      1607
           1       0.80      0.40      0.53       393

    accuracy                           0.86      2000
   macro avg       0.83      0.69      0.72      2000
weighted avg       0.85      0.86      0.84      2000

In [35]:
bank_df.Exited.value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

# Random Forest Classifier

In [36]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(X_train,y_train)
y_pred_train = rfc.predict(X_train)
y_pred_test = rfc.predict(X_test)

In [37]:
from sklearn.metrics import accuracy_score
ac1 = accuracy_score(y_train,y_pred_train)
print("training score:", ac1.round(2))
ac2 = accuracy_score(y_test,y_pred_test)
print("test score:", ac2.round(2))

training score: 1.0
test score: 0.87

In [38]:
print("True values:", y_test[10:15].values)
print("Predicted values:", y_pred_test[10:15])

True values: [1 1 1 0 0]
Predicted values: [1 1 1 0 0]

# Support Vector Machine

In [39]:
from sklearn.svm import SVC
svc = SVC()
svc.fit(X_train,y_train)

y_pred_test = svc.predict(X_test)
y_pred_train = svc.predict(X_train)

In [40]:
# summarize the fit of the model
from sklearn import metrics
from sklearn.metrics import accuracy_score,accuracy_score,confusion_matrix
print(metrics.classification_report(y_test, y_pred_test))
print(metrics.confusion_matrix(y_test, y_pred_test))

print("Accuracy:",metrics.accuracy_score(y_test, y_pred_test))
print("Precision:",metrics.precision_score(y_test, y_pred_test))
print("Recall:",metrics.recall_score(y_test, y_pred_test))

              precision    recall  f1-score   support

           0       0.84      0.99      0.91      1607
           1       0.85      0.25      0.39       393

    accuracy                           0.84      2000
   macro avg       0.85      0.62      0.65      2000
weighted avg       0.85      0.84      0.81      2000

[[1590   17]
 [ 294   99]]
Accuracy: 0.8445
Precision: 0.853448275862069
Recall: 0.25190839694656486

# Logistic Regression

In [41]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train,y_train)

#prediction
y_pred_test = logreg.predict(X_test)

print(metrics.classification_report(y_test, y_pred_test))
print(metrics.confusion_matrix(y_test,y_pred_test))

print("Accuracy:",metrics.accuracy_score(y_test, y_pred_test))
print("Precision:",metrics.precision_score(y_test, y_pred_test))
print("Recall:",metrics.recall_score(y_test, y_pred_test))

              precision    recall  f1-score   support

           0       0.83      0.96      0.89      1607
           1       0.57      0.19      0.29       393

    accuracy                           0.81      2000
   macro avg       0.70      0.58      0.59      2000
weighted avg       0.78      0.81      0.77      2000

[[1550   57]
 [ 318   75]]
Accuracy: 0.8125
Precision: 0.5681818181818182
Recall: 0.19083969465648856

# Save the model

In [42]:
from tensorflow.keras.models import load_model

model.save('churn_model.h5')

C:\Users\RAM BABU\AppData\Roaming\Python\Python39\site-packages\keras\src\engine\training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [43]:
model = load_model('churn_model.h5')